.card {
  justify-content: center;
  background-color: rgb(58, 58, 58);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.2s ease-in-out;
  min-height: 120px;
  max-height: fit-content;
  width: 95%;
  margin: 5px;
}

.card:hover {
  transform: scale(1.05);
}
.button {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(117, 201, 48);
  border: none;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  min-width: 150px;
}
.button:hover {
  transform: scale(1.05);
}
.usage {
  color: rgb(153, 120, 82);
}

/* Card item */
/* .card {
  width: 200px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.card h2 {
  font-size: 1.5rem;
  margin: 1rem;
}

.card p {
  font-size: 1rem;
  margin: 1rem;
}
 */
